body {
    background-color: rgb(19, 18, 18);
}
 .text1 {
    color: white;
    font-size: 56px;
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 50%;
    Width: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
  .underlink {
    color: lightblue; 
    height: 650px;
  }
  .underlink:hover {
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  }
  * {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: black;
    width:100%;
    font-size: 24px;
    border-bottom: solid white 1px;
  
  }
  .shopbutton {
    background-color: black;
    height: 55px;
    width: 155px;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-right: 50px;
  }
  .navlinks {
    list-style: none;
    display: flex;
  }
  .navlinks li {
    display: inline-block;
    padding: 0px 15px;
    
  }
  .navlinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    padding: 30px 12px;
    font-size: 14px;
    font-family: 'ZCOOL XiaoWei', serif;

  }
  .shopbutton:hover {
    background-color: lightblue;
    color: rgb(78, 76, 76);
  }
  .navlinks li a:hover {
    color: rgb(78, 76, 76);
    background-color: rgb(173, 216, 230);
  }
  button {
    padding: 9px 25px;
    background-color: rgba(96, 219, 250,1);
    border:none;
    border-radius: 30%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .titleedits {
    font-family: 'ZCOOL XiaoWei', serif;
    color: rgb(226, 211, 211);
    font-size: 32.5px;
}
.smalltitleedit {
    color:rgb(141, 106, 106);
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 22px;
}
.slideshowimg {
    width:100%;
    height:15px;
}
.categories {
  color: white;
  font-size: 30px;
  text-align: center;
}
.item-title {
  font-family: 'Gelasio', serif;
  padding: 12px 18px; color:rgb(230, 170, 170); 
  float: right; border: .1px solid white; 
  border-radius: 25%; 
  margin-top: 90px;
  margin-right: 350px;
}

.item-price {
  color: rgb(88, 206, 88); 
  font-family: 'Oleo Script', cursive; 
  position: absolute; 
  float: right; 
  margin-top: 40px;
}

.item-priceout {
  color: red; 
  font-family: 'Oleo Script', cursive; 
  position: absolute; 
  margin-top: 40px;
  margin-left: 125px;
  text-decoration: line-through;
}



















.slider-holder
        {
            width: 800px;
            height: 400px;
            background-color: yellow;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
        
        .image-holder
        {
            width: 2400px;
            background-color: red;
            height: 400px;
            clear: both;
            position: relative;
            
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
        
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
        
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
        
        #slider-image-2:target ~ .image-holder
        {
            left: -800px;
        }
        
        #slider-image-3:target ~ .image-holder
        {
            left: -1600px;
        }
        
        .button-holder
        {
            position: relative;
            top: -20px;
        }
        
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }

li {
  list-style-type: none;
}
.container-itemlist {
  float: left;
  padding: 10px;
  list-style: none;
}
.heading-itemlist {
font-size: 40px;
color: rgb(112, 104, 104);
letter-spacing: 2px;

}
.itemlist {
  color: white;
  margin-left: 10px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 20px;
}
.itemlist:hover {
  color: rgb(236, 165, 165);
  font-weight: 900;

}
.innerlist {
  color: rgb(163, 163, 162);
  margin-left: 10px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14.5px;
  list-style-type: disc;
}
.innerlist:hover {
  color: rgb(255, 255, 255);
  font-weight: 900;

}











.dropbtn {
  background-color: transparent;
  color: white;
  margin-left: -28px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.dropbtn:hover, .dropbtn:focus {
  color: rgb(255, 176, 176);
  font-weight: 900;
}

.dropdown {
  color: rgb(163, 163, 162);
  margin-left: 0px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14.5px;
  list-style-type: disc;
}

.dropdown-content {
  display: none;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(163, 163, 162);
  margin-left: 10px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15.5px;
  text-decoration: none;
  display: block;

}

.dropdown a:hover { 
  color: rgb(121, 121, 86);
  font-weight: 900;}

.show {display: block;}





/* Dropdown 1 */
.dropbtn1 {
  background-color: transparent;
  color: white;
  margin-left: -28px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.dropbtn1:hover, .dropbtn1:focus {
  color: rgb(255, 176, 176);
  font-weight: 900;
}

.dropdown1 {
  color: rgb(163, 163, 162);
  margin-left: 0px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14.5px;
  list-style-type: disc;
}

.dropdown-content1 {
  display: none;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content1 a {
  color: rgb(163, 163, 162);
  margin-left: 10px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15.5px;
  text-decoration: none;
  display: block;

}

.dropdown1 a:hover { 
  color: rgb(121, 121, 86);
  font-weight: 900;}

.show {display: block;}




/* Dropdown 1 */
.dropbtn2 {
  background-color: transparent;
  color: white;
  margin-left: -28px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.dropbtn2:hover, .dropbtn2:focus {
  color: rgb(255, 176, 176);
  font-weight: 900;
}

.dropdown2 {
  color: rgb(163, 163, 162);
  margin-left: 0px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14.5px;
  list-style-type: disc;
}

.dropdown-content2 {
  display: none;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content2 a {
  color: rgb(163, 163, 162);
  margin-left: 10px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15.5px;
  text-decoration: none;
  display: block;

}

.dropdown2 a:hover { 
  color: rgb(121, 121, 86);
  font-weight: 900;}

.show {display: block;}



/* Dropdown 1 */
.dropbtn3 {
  background-color: transparent;
  color: white;
  margin-left: -28px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.dropbtn3:hover, .dropbtn3:focus {
  color: rgb(255, 176, 176);
  font-weight: 900;
}

.dropdown3 {
  color: rgb(163, 163, 162);
  margin-left: 0px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14.5px;
  list-style-type: disc;
}

.dropdown-content3 {
  display: none;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content3 a {
  color: rgb(163, 163, 162);
  margin-left: 10px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15.5px;
  text-decoration: none;
  display: block;

}

.dropdown3 a:hover { 
  color: rgb(121, 121, 86);
  font-weight: 900;}

.show {display: block;}


/* Dropdown 1 */
.dropbtn4 {
  background-color: transparent;
  color: white;
  margin-left: -28px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.dropbtn4:hover, .dropbtn4:focus {
  color: rgb(255, 176, 176);
  font-weight: 900;
}

.dropdown4 {
  color: rgb(163, 163, 162);
  margin-left: 0px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14.5px;
  list-style-type: disc;
}

.dropdown-content4 {
  display: none;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content4 a {
  color: rgb(163, 163, 162);
  margin-left: 10px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15.5px;
  text-decoration: none;
  display: block;

}

.dropdown4 a:hover { 
  color: rgb(121, 121, 86);
  font-weight: 900;}

.show {display: block;}



/* Dropdown 1 */
.dropbtn5 {
  background-color: transparent;
  color: white;
  margin-left: -28px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'ZCOOL XiaoWei', serif;
}

.dropbtn5:hover, .dropbtn5:focus {
  color: rgb(255, 176, 176);
  font-weight: 900;
}

.dropdown5 {
  color: rgb(163, 163, 162);
  margin-left: 0px;
  letter-spacing: 1px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 14.5px;
  list-style-type: disc;
}

.dropdown-content5 {
  display: none;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content5 a {
  color: rgb(163, 163, 162);
  margin-left: 10px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 15.5px;
  text-decoration: none;
  display: block;

}

.dropdown5 a:hover { 
  color: rgb(121, 121, 86);
  font-weight: 900;
}


.show {display: block;}

.item-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding:20px 55px;
   

}
.tester {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  margin-top: 25px;
}













/* Pop up for images section beginning here */





/* Style the Image Used to Trigger the Modal */
#myImg, #myImg1,#myImg2,#myImg3,#myImg4,#myImg5,#myImg6,#myImg7,#myImg8,#myImg9,#myImg10,#myImg11,#myImg12,#myImg13,#myImg14,#myImg15,#myImg16, #myImg17 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg, #myImg1,#myImg2,#myImg3,#myImg4,#myImg5,#myImg6,#myImg7,#myImg8,#myImg9,#myImg10,#myImg11,#myImg12,#myImg13,#myImg14,#myImg15,#myImg16, #myImg17:hover {opacity: 0.7;}

/* The Modal (background) */
.modal, .modal1, .modal2, .modal3, .modal4, .modal5, .modal6, .modal7, .modal8, .modal9, .modal10, .modal11, .modal12, .modal13, .modal14, .modal15, .modal16, .modal17 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content, .modal-content1, .modal-content2, .modal-content3, .modal-content4, .modal-content5, .modal-content6, .modal-content7, .modal-content8, .modal-content9, .modal-content10, .modal-content11, .modal-content12, .modal-content13, .modal-content14, .modal-content15, .modal-content16, .modal-content17 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption, #caption1, #caption2, #caption3, #caption4, #caption5, #caption6, #caption7, #caption8, #caption9, #caption10, #caption11, #caption12, #caption13, #caption14, #caption15, #caption16, #caption17 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(236, 12, 12);
  padding: 10px 0;
  height: 150px;
  font-size: 30px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .modal-content1, .modal-content2, .modal-content3, .modal-content4, .modal-content5, .modal-content6, .modal-content7, .modal-content8, .modal-content9, .modal-content10, .modal-content11, .modal-content12, .modal-content13, .modal-content14, .modal-content15, .modal-content16, .modal-content17, #caption, #caption1, #caption2, #caption3, #caption4, #caption5, #caption6, #caption7, #caption8, #caption9, #caption10, #caption11, #caption12, #caption13, #caption14, #caption15, #caption16, #caption17 { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close, .close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8, .close9, .close10, .close11, .close12, .close13, .close14, .close15, .close16, .close17 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close, .close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8, .close9, .close10, .close11, .close12, .close13, .close14, .close15, .close16, .close17:hover,
.close, .close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8, .close9, .close10, .close11, .close12, .close13, .close14, .close15, .close16, .close17:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Pop up for images section ending here */







